* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  background-color: black;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

li {
  margin: 0.5em;
  border-bottom: 1px solid grey;
  list-style: none;
  padding: 15px;
  width: 100%;
}

ul {
  width: 100%;
}

span {
  margin-left: 10px;
  font-size: 1.5em;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: #28a0eb;
}

h1 {
  text-align: center;
  color: #28a0eb;
  font-size: 4rem;
  margin-bottom: 5%;
}
